[MASTER]
jobs=1
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access

[REPORTS]
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5

[BASIC]
good-names=i,j,k,ex,_,id,db

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=5
max-branches=15
max-locals=20
max-parents=7
max-public-methods=25
max-returns=6
max-statements=50
min-public-methods=1

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4

[TYPECHECK]
ignored-classes=SQLObject

[VARIABLES]
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
